<div class="card">
    <div class="card-body">
        <h5 class="titulo mb-3">{{titulo | uppercase}}
            <div *ngIf="loading" class="spinner-border float-end" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
        </h5>
        <form [formGroup]="form" (ngSubmit)="cerarTarjeta()">
            <div class="input-group input-group-lg mb-3">
                <span class="input-group-text" >
                    <i class="fas fa-user-circle"
                    [class.green-icon]="this.form.get('titular')?.valid"
                    [class.red-icon]="this.form.get('titular')?.invalid && this.form.get('titular').touched"></i>
                </span>
                <input type="text" formControlName="titular" class="form-control" placeholder="Titular" >
              </div>

              <div class="input-group input-group-lg mb-3">
                <span class="input-group-text" >
                    <i class="fas fa-credit-card"
                    [class.green-icon]="this.form.get('numeroTarjeta')?.valid"
                    [class.red-icon]="this.form.get('numeroTarjeta')?.invalid && this.form.get('numeroTarjeta').touched"></i>
                </span>
                <input type="text" formControlName="numeroTarjeta" maxlength="16" class="form-control" placeholder="Numero de tarjeta" >
              </div>

              <div class="row">
                  <div class="col-lg-7">
                    <div class="input-group input-group-lg mb-3">
                        <span class="input-group-text" >
                            <i class="fas fa-calendar-alt"
                            [class.green-icon]="this.form.get('fechaExpiracion')?.valid"
                            [class.red-icon]="this.form.get('fechaExpiracion')?.invalid && this.form.get('fechaExpiracion').touched"></i>
                        </span>
                        <input type="text" formControlName="fechaExpiracion" maxlength="5" class="form-control" placeholder="MM/YY" >
                      </div>
                  </div>
                  <div class="col-lg-5">
                    <div class="input-group input-group-lg mb-3">
                        <span class="input-group-text" >
                            <i class="fas fa-key"
                            [class.green-icon]="this.form.get('cvv')?.valid"
                            [class.red-icon]="this.form.get('cvv')?.invalid && this.form.get('cvv').touched"></i>
                        </span>
                        <input type="password" formControlName="cvv" maxlength="3" class="form-control" placeholder="Password" >
                      </div>
                  </div>
              </div>
              <div class="d-grid gap-2">
                <button [disabled]="form.invalid" class="btn btn-primary btn-lg" type="submit">
                    <i class="fas fa-database"></i> &nbsp; Acepta</button>
              </div>
        </form>
    </div>
</div>