<div class="card">
    <div class="card-body">
        <h5 class="titulo">LISTAR TARJETAS</h5>
        <table class="table">
            <tbody>
                <tr>
                    <th>Titular</th>
                    <th>Numero de Tarjeta</th>
                    <th>Fecha de expiración</th>
                    <th>Acciones</th>
                </tr>
                <tr *ngFor="let list of listarTarjeta">
                    <td>{{list.titular}}</td>
                    <td>{{list.numeroTarjeta}}</td>
                    <td>{{list.fechaExpiracion}}</td>
                    <td>
                        <i (click)="editarTarjeta(list)" class="far fa-edit text-info"></i>
                        <i (click)="deleteTarjeta(list.id)" class="far fa-trash-alt text-danger"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
